<h1 class="subheader">{{titulo}}</h1>
<button (click)="cambiarTitulo()">Pulsame</button>
<hr/>
<h2>Mostrar primera película</h2>
{{peliculas[0].title}}
<hr/>
<h2>Número de películas</h2>

<div *ngIf="peliculas.length <= 3">
  Hay pocas películas
</div>
<div *ngIf="peliculas.length > 3">
  Hay muchas películas
</div>
{{peliculas.length}}
<hr/>
<h2 class="subheader">Listado de películas</h2>

<div id="articles" *ngIf="peliculas">
  <article class="article-item" id="article-template" *ngFor="let pelicula of peliculas">
      <div class="image-wrap">
          <img src={{pelicula.image}} alt={{pelicula.title}}/>
      </div>
      <h2>{{pelicula.title}}</h2>
      <span class="date">
          Hace 5 minutos
      </span>
      <a href="#">Leer más</a>

      <div class="clearfix"></div>
  </article>
</div>
